html {
  font-family: $roboto;
  color: $color-secondary;
  background-color: $color-white;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: $color-white;
}

.app {
  &__title {
    @include bold-font;
  }
}
