html {
  font-family: $roboto;
  color: $color-secondary;
  background-color: $color-white;
}

body {
  font-family: 'Roboto';
  position: relative;
  min-width: $sm-width-content + 20px;
}

a {
  text-decoration: none;
  color: $color-white;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__title {
    @include bold-font;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}
