.exchange-rates{
  @include widgets-common-style;
  justify-content: center;
  @media (max-width: $md-width-content + 60) {
    width: 300px;
  }
  &__title{
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__item{
    width: 191px;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__description{
    text-transform: lowercase;
    flex: 1;
    text-align: right;
    margin-right: 20px;
    font-weight: 500;
  }
  &__value{
    flex:1;
  }
  
}