.weather-widget {
  @include widgets-common-style;
  justify-content: center;
  position: relative;
  &__temp,
  &__humidity-wrapper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
  }

  &__temp {
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: left;
  }

  &__humidity-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &__humidity {
    padding-right: 3px;
    text-align: right;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__icon {
    background: $color-accent;
    width: 47px;
    height: 47px;
    border-radius: 100%;
  }

  &__main {
    margin: 0;
  }

  @media (max-width: $md-width-content + 60) {
    width: 300px;
  }
}
