.image-gallery {
  .image-gallery-content {
    padding-top: 40px;
    display: flex;
    justify-content: center;

    @media (max-width: 640px) {
      padding-top: 30px;
    }

    .image-gallery-thumbnails-wrapper {
      width: $preview-img;
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  .image-gallery-slide-wrapper {
    position: relative;
    width: calc(100% - 250px);
    overflow: hidden;

    @media(max-width: 1000px) {
      width: 100%;
      padding: 0 20px;
    }

    @media(max-width: 640px) {
      width: 100%;
      padding: 0;
    }

    .image-gallery-bullets .image-gallery-bullet {
      &:hover {
        background: $color-gray-light;
      }
    }
  }

  .image-gallery-icon {
    color: $color-gray-light;

    .image-gallery-svg {
      &:hover {
        color: $color-white;
      }

      &:active {
        color: $color-accent;
      }
    }
  }

  .image-gallery-thumbnails-container .image-gallery-thumbnail {
    width: $preview-img;

    div img {
      width: $preview-img-inner;
    }
  }
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
  border: 4px solid $color-accent;
}

.image-gallery-slide {
  .image-gallery-image {
    min-height: 567px;
   // object-fit: cover;

    @media(max-width: 1200px) {
      min-height: 435px;
    }

    @media(max-width: 1000px) {
      min-height: 357px;
    }


  }
}

.gallery {
  background-color: $color-gray-light;

  &__content {
    max-width: $xl-width-content;
    padding: 30px 0 120px 0;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1200px) {
      max-width: $lg-width-content;
    }

    @media (max-width: 1000px) {
      max-width: $md-width-content;
    }

    @media (max-width: 640px) {
      max-width: $sm-width-content;
    }

    .full {
      width: 35px;
      height: 35px;
      position: absolute;
      top:20%;
      right: 20%;
      z-index: 1;
    }
  }

  &__title {
    @include h2;
    padding-left: 25px;
    @media (max-width: 640px) {
      font-size: 34px;
      padding: 30px 20px;
    }
  }

  &__description {
    @include body-text-md;
    text-align: center;
    max-width: 700px;
    padding-top: 20px;
    position: absolute;
    left: calc(40% - 350px);

    @media (max-width: 1200px) {
      max-width: 620px;
      left: calc(40% - 310px);
    }

    @media (max-width: 1000px) {
      max-width: 550px;
      left: 3%;
    }

    @media (max-width: 640px) {
      max-width: 300px;
      left: 1%;
    }
  }
}
