.item-card-wrapper {
  @include content-container;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: $xl-width-content + 60) {
    justify-content: space-evenly;
  }
  @media (max-width: $lg-width-content + 60) {
    justify-content: space-around;
  }
  @media (max-width: $md-width-content) {
    justify-content: center;
    padding: 0;
  }
}
