$color-white: #ffffff;
$color-accent: #ff8660;
$color-gray-light: #f2f2f2;
$color-secondary: #1d2736;

$max-width-content: 1160px;
$card-width: 275px;
$card-height: 300px;

$roboto: 'Roboto', Arial, sans-serif;
