$color-white: #ffffff;
$color-accent: #ff8660;
$color-gray-light: #f2f2f2;
$color-secondary: #1d2736;

$xl-width-content: 1160px;
$lg-width-content: 940px;
$md-width-content: 600px;
$sm-width-content: 300px;

$card-width: 275px;
$card-height: 300px;

$preview-img: 180px;
$preview-img-inner: 172px;

$roboto: 'Roboto', Arial, sans-serif;
