.lang {
  display: none;

  &__btns {
    position: relative;
  }

  &__btn-select {
    border: none;

    &::after {
      content: '';
      position: absolute;
      left: 40px;
      bottom: 8px;
      border: 4px solid transparent;
      border-top: 6px solid black;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      @include img-flag;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      span {
        @include body-text-sm;
      }
    }
  }
}

#lang__list {
  padding: 0 6px;
  margin: 0;
  position: absolute;
  top: 30px;
  right: -5px;
  background-color: $color-gray-light;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  li {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $color-white;
    }
    &:nth-child(1) {
      border-bottom: 1px solid #c9c3c3;
    }

    span {
      @include body-text-sm;
    }
  }

  img {
    @include img-flag;
  }
}

.hidden {
  display: none;
}

.open {
  display: block;
}

