.lang {
  display: none;

  &__btns {
    position: relative;
  }

  &__btn-select {
    border: none;

    &:focus {
      outline: none;
    }

    img {
      @include img-flag;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      span {
        @include body-text-md;
      }
    }
  }
}

#lang__list {
  padding-left: 0;
  margin: 0;
  width: 58px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: $color-gray-light;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  li {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $color-white;
    }

    span {
      @include body-text-md;
    }
  }

  img {
    @include img-flag;
  }
}

.hidden {
  display: none;
}

.open {
  display: block;
}

