.search{
  display: flex;
  align-items: flex-end;
  width: 275px;
  border-bottom: 1px solid rgba(29, 39, 54, .5);
  padding-bottom: 5px;
  &__submit{
    width:13px;
    height:16px;
    outline:none;
    border:none;
    box-shadow: none;
    padding:0;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 13px;
    transition:opacity .3s ease-in-out;
    cursor: pointer;
    opacity: .5;
    &:hover{
      opacity: 1;
    }
  }
  &__input{
    margin: 0 7px;
    font-family: $roboto;
    padding:0;
    flex:1;
    font-size: 14px;
    line-height: 16px;  
    outline:none;
    border:none;
    background-color: transparent;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(29, 39, 54, .3);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(29, 39, 54, .3);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(29, 39, 54, .3);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(29, 39, 54, .3);
    }
  }
  &__clear{
    opacity: .5;
    width: 12px;
    position: relative;
    height:12px;
    transform:rotate(-45deg);
    margin-right: 1px;
    transition:opacity .3s ease-in-out;
    &:before,&:after{
      box-sizing: border-box;
      position: absolute;
      content:"";
      width:8px;
      height:8px;
      border-bottom:2px solid $color-secondary;
      border-right:2px solid $color-secondary;
      top:2px;
      left:2px;
      transition:transform .3s ease-in-out, opacity .3s ease-in-out;
    }
    &--shown{
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
      &:before{
        transform:translate(-2px,-2px);
      }
      &:after{
        opacity: 1;
        transform: scale(-1, -1)translate(-4px,-4px);
      }
    }
  }
}