.item-card {
  width: $card-width;
  height: $card-height;
  cursor: pointer;

  &:hover {
    transition: transform 0.5s;
    transform: scale(0.97);
    box-shadow: 0 0 5px white;
  }

  h3 {
    @include h3;
  }

  &__content {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 40.63%, #000000 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__infoblock {
    padding: 15px 10px;

    &__capital {
      @include body-text-md;
    }

  }
}